doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')

    script(type='text/javascript', src='https://code.jquery.com/jquery-1.11.3.min.js')
    script(src='https://skyway.io/dist/0.3/peer.min.js')
    script(src='https://skyway.io/dist/multiparty.min.js')
    script(type='text/javascript', src='/javascripts/library/three.min.js')
    //- script(type='text/javascript', src='/javascripts/library/skyway.min.js')
    //- script(type='text/javascript', src='/javascripts/StageClass.js')
    //- script(type='text/javascript', src='/javascripts/tvConference.js')
    script(type='text/javascript', src='/javascripts/anamorClass.js')
    script(type='text/javascript', src='/javascripts/polarVideo.js')




    style.
        video { width:200px; }

  body
    block content
